#!/usr/bash/emacs
#'''
#Author: channon@iit.edu
#
#cosim v1.0
#
#config script for PDCs
#
#freq_time is in s (seconds)
#
#'''
###################################################
#PDC PDC_ID PMU_UPDATE_FREQ PDC_UPDATE_FREQ - only 1 white space deliminated
PDC 101 1.5 9
#PMU PMU_ID PDC_PARENT_ID OPENDSS_ID?  
PMU 1001 101 1001
PMU 1002 101 1002
PMU 1003 101 1003
PMU 1004 101 1004
#
#
####################################################
#PDC PDC_ID PMU_UPDATE_FREQ PDC_UPDATE_FREQ
PDC 102 1.0 15
#PMU PMU_ID PDC_PARENT_ID OPENDSS_ID?  
PMU 2001 102 2001
PMU 2002 102 2002
PMU 2003 102 2003
###################################################
pwController
