update b p controllable_generator b 0.1 gtest1 1 1.5
update b p controllable_load b 0.2 ltest1 1 10700
update b p monitor_0 b 0.45 mtest1 0
update b p monitor_1 b 0.82 mtest2 0
update b p storage b 1.06 estest 3 1950 2050 -500
update b p monitor_0 b 1.2 mtest1 0
update b p monitor_1 b 1.4 mtest2 0
update b p fault b 1.6 f1 3 1 B24 a   
