<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="categorizedSettings" type="GSF.Configuration.CategorizedSettingsSection, GSF.Core" />
  </configSections><runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />
  </runtime><startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>﻿
  <categorizedSettings>
    <systemSettings>
      <add name="ConfigurationType" value="Database" description="Specifies type of configuration: Database, WebService or XmlFile" encrypted="False" />
      <add name="ConnectionString" value="Data Source=ConfigurationCache/openPDC.db; Version=3; Foreign Keys=True; FailIfMissing=True" description="Configuration connection string" encrypted="False" />
      <add name="DataProviderString" value="AssemblyName={Mono.Data.Sqlite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756}; ConnectionType=Mono.Data.Sqlite.SqliteConnection; AdapterType=Mono.Data.Sqlite.SqliteDataAdapter" description="Configuration database ADO.NET data provider assembly type creation string used when ConfigurationType=Database" encrypted="False" />
      <add name="NodeID" value="e7a5235d-cb6f-4864-a96e-a8686f36e599" description="Unique Node ID" encrypted="False" />
      <add name="ProcessPriority" value="Normal" description="Sets desired process priority: Normal, AboveNormal, High, RealTime" encrypted="False" />
      <add name="UniqueAdaptersIDs" value="True" description="Set to true if all runtime adapter ID's will be unique to allow for easier adapter specification" encrypted="False" />
      <add name="AllowRemoteRestart" value="True" description="Controls ability to remotely restart the host service." encrypted="False" />
      <add name="MinThreadPoolWorkerThreads" value="25" description="Defines the minimum number of allowed thread pool worker threads." encrypted="False" />
      <add name="MaxThreadPoolWorkerThreads" value="2048" description="Defines the maximum number of allowed thread pool worker threads." encrypted="False" />
      <add name="MinThreadPoolIOPortThreads" value="25" description="Defines the minimum number of allowed thread pool I/O completion port threads (used by socket layer)." encrypted="False" />
      <add name="MaxThreadPoolIOPortThreads" value="2048" description="Defines the maximum number of allowed thread pool I/O completion port threads (used by socket layer)." encrypted="False" />
      <add name="ProcessStatistics" value="True" description="Determines if the statistics should be processed during operation" encrypted="False" />
      <add name="ProcessPhasorStatistics" value="True" description="Determines if the phasor statistics should be processed during operation" encrypted="False" />
      <add name="ProcessPhasorDataSourceValidation" value="True" description="Determines if the phasor data source validation should be processed at startup" encrypted="False" />
      <add name="OptimizeLocalHistorianSettings" value="True" description="Determines if the defined local historians will have their settings optimized at startup" encrypted="False" />
      <add name="LocalCertificate" value="openPDC.p12" description="Path to the local certificate used by this server for authentication." encrypted="False" />
      <add name="RemoteCertificatesPath" value="Certs/Remotes" description="Path to the directory where remote certificates are stored." encrypted="False" />
      <add name="PointTagNameExpression" value="{CompanyAcronym}_{DeviceAcronym}[?{SignalType.Source}=Phasor[-{SignalType.Suffix}{SignalIndex}]]:{VendorAcronym}{SignalType.Abbreviation}[?{SignalType.Source}!=Phasor[?{SignalIndex}!=-1[{SignalIndex}]]]" description="Defines the expression used to create point tag names. NOTE: if updating this setting, synchronize value in both the manager and service config files." encrypted="False" />
      <add name="ConfigurationCachePath" value="ConfigurationCache/" description="Defines the path used to cache serialized configurations" encrypted="False" />
      <add name="CachedConfigurationFile" value="SystemConfiguration.xml" description="File name for last known good system configuration (only cached for a Database or WebService connection)" encrypted="False" />
      <add name="ConfigurationBackups" value="5" description="Defines the total number of older backup configurations to maintain." encrypted="False" />
      <add name="PreferCachedConfiguration" value="False" description="Set to true to try the cached configuration first, before loading database configuration - typically used when cache is updated by external process." encrypted="False" />
      <add name="CompanyName" value="Grid Protection Alliance" description="The name of the company who owns this instance of the openPDC." encrypted="False" />
      <add name="CompanyAcronym" value="GPA" description="The acronym representing the company who owns this instance of the openPDC." encrypted="False" />
    </systemSettings>
    <serviceHelper>
      <add name="MonitorServiceHealth" value="True" description="True if the service health is to be monitored; otherwise False." encrypted="False" />
      <add name="HealthMonitorInterval" value="5" description="The interval, in seconds, over which to sample the performance montitor for health statistics." encrypted="False" />
      <add name="SecureRemoteInteractions" value="False" description="True to enable security of remote client interactions; otherwise False." encrypted="False" />
      <add name="LogStatusUpdates" value="True" description="True if status update messages are to be logged to a text file; otherwise False." encrypted="False" />
      <add name="MaxStatusUpdatesLength" value="262144" description="Maximum numbers of characters allowed in update status messages without getting suppressed from being displayed." encrypted="False" />
      <add name="MaxStatusUpdatesFrequency" value="100" description="Maximum number of status update messages that can be issued in a second without getting suppressed from being displayed." encrypted="False" />
      <add name="RequestHistoryLimit" value="50" description="Number of client request entries to be kept in the history." encrypted="False" />
      <add name="SupportTelnetSessions" value="False" description="True to enable the support for remote telnet-like sessions; otherwise False." encrypted="False" />
      <add name="SupportSystemCommands" value="False" description="True to enable system-level access (-system switch) via the build-in commands; otherwise False." encrypted="False" />
      <add name="SerializationFormat" value="Binary" description="Message serialization format for interactions with clients, one of: Xml, Json or Binary. Default is Binary." encrypted="False" />
    </serviceHelper>
    <remotingServer>
      <add name="ConfigurationString" value="port=8500; interface=0.0.0.0" description="Data required by the server to initialize." encrypted="False" />
      <add name="MaxClientConnections" value="-1" description="Maximum number of clients that can connect to the server." encrypted="False" />
      <add name="SendBufferSize" value="8192" description="Size of the buffer used by the server for sending data to the clients." encrypted="False" />
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the server for receiving data from the clients." encrypted="False" />
      <add name="EnabledSslProtocols" value="Tls" description="The set of SSL protocols that are enabled for this server." encrypted="False" />
      <add name="RequireClientCertificate" value="False" description="True if the client certificate is required during authentication, otherwise False." encrypted="False" />
      <add name="CheckCertificateRevocation" value="False" description="True if the certificate revocation list is to be checked during authentication, otherwise False." encrypted="False" />
      <add name="CertificateFile" value="Eval(systemSettings.LocalCertificate)" description="Path to the local certificate used by this server for authentication." encrypted="False" />
      <add name="TrustedCertificatesPath" value="Certs/Remotes" description="Path to the directory containing the trusted remote certificates." encrypted="False" />
      <add name="ValidPolicyErrors" value="None" description="Set of valid policy errors when validating remote certificates." encrypted="False" />
      <add name="ValidChainFlags" value="NoError" description="Set of valid chain flags used when validating remote certificates." encrypted="False" />
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="False" />
      <add name="IntegratedSecurity" value="False" description="True if the client Windows account credentials are used for authentication, otherwise False." encrypted="False" />
      <add name="AllowDualStackSocket" value="False" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False." encrypted="False" />
      <add name="MaxSendQueueSize" value="-1" description="The maximum size of the send queue before payloads are dumped from the queue." encrypted="False" />
    </remotingServer>
    <securityProvider>
      <add name="ApplicationName" value="openPDC" description="Name of the application being secured as defined in the backend security datastore." encrypted="False" />
      <add name="ProviderType" value="GSF.Security.AdoSecurityProvider, GSF.Security" description="The type to be used for enforcing security." encrypted="False" />
      <add name="UserCacheTimeout" value="0" description="Defines the timeout, in whole minutes, for a user's provider cache. Any value less than 1 will cause cache reset every minute." encrypted="False" />
      <add name="IncludedResources" value="UpdateSettings,UpdateConfigFile=Special; Settings,Schedules,Help,Status,Version,Time,User,Health,List,Invoke,ListCommands,ListReports,GetReport=*; Processes,Start,ReloadCryptoCache,ReloadSettings,Reschedule,Unschedule,SaveSchedules,LoadSchedules,ResetHealthMonitor,Connect,Disconnect,Initialize,ReloadConfig,Authenticate,RefreshRoutes,TemporalSupport,LogEvent,GenerateReport,ReportingConfig=Administrator,Editor; *=Administrator" description="Semicolon delimited list of resources to be secured along with role names." encrypted="False" />
      <add name="ExcludedResources" value="" description="Semicolon delimited list of resources to be excluded from being secured." encrypted="False" />
      <add name="NotificationSmtpServer" value="localhost" description="SMTP server to be used for sending out email notification messages." encrypted="False" />
      <add name="NotificationSenderEmail" value="sender@company.com" description="Email address of the sender of email notification messages." encrypted="False" />
      <add name="ConnectionString" value="Eval(systemSettings.ConnectionString)" description="Connection connection string to be used for connection to the backend security datastore." encrypted="False" />
      <add name="DataProviderString" value="Eval(systemSettings.DataProviderString)" description="Configuration database ADO.NET data provider assembly type creation string to be used for connection to the backend security datastore." encrypted="False" />
      <add name="LdapPath" value="" description="Specifies the LDAP path used to initialize the security provider." encrypted="False" />
      <add name="CacheRetryDelayInterval" value="1000" description="Wait interval, in milliseconds, before retrying load of user data cache." encrypted="False" />
      <add name="CacheMaximumRetryAttempts" value="5" description="Maximum retry attempts allowed for loading user data cache." encrypted="False" />
      <add name="EnableOfflineCaching" value="True" description="True to enable caching of user information for authentication in offline state, otherwise False." encrypted="False" />
      <add name="PasswordRequirementsRegex" value="^.*(?=.{8,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$" description="Regular expression used to validate new passwords for database users." encrypted="False" />
      <add name="PasswordRequirementsError" value="Invalid Password: Password must be at least 8 characters; must contain at least 1 number, 1 upper case letter, and 1 lower case letter" description="Error message to be displayed when new database user password fails regular expression test." encrypted="False" />
    </securityProvider>
    <activeDirectory>
      <add name="PrivilegedDomain" value="" description="Domain of privileged domain user account used for Active Directory information lookup, if needed." encrypted="False" />
      <add name="PrivilegedUserName" value="" description="Username of privileged domain user account used for Active Directory information lookup, if needed." encrypted="False" />
      <add name="PrivilegedPassword" value="" description="Encrypted password of privileged domain user account used for Active Directory information lookup, if needed." encrypted="True" />
    </activeDirectory>
    <cryptographyServices>
      <add name="CryptoCache" value="KeyIVCache.bin" description="Path and file name of cryptographic key and initialization vector cache." encrypted="False" />
      <add name="CacheRetryDelayInterval" value="1000" description="Wait interval, in milliseconds, before retrying load of cryptographic key and initialization vector cache." encrypted="False" />
      <add name="CacheMaximumRetryAttempts" value="5" description="Maximum retry attempts allowed for loading cryptographic key and initialization vector cache." encrypted="False" />
    </cryptographyServices>
    <internaldatapublisher>
      <add name="ConfigurationString" value="port=6165; interface=0.0.0.0" description="Data required by the server to initialize." encrypted="False" />
      <add name="MaxClientConnections" value="-1" description="Maximum number of clients that can connect to the server." encrypted="False" />
      <add name="SendBufferSize" value="8192" description="Size of the buffer used by the server for sending data to the clients." encrypted="False" />
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the server for receiving data from the clients." encrypted="False" />
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="False" />
      <add name="IntegratedSecurity" value="False" description="True if the client Windows account credentials are used for authentication, otherwise False." encrypted="False" />
      <add name="AllowDualStackSocket" value="False" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False." encrypted="False" />
      <add name="MaxSendQueueSize" value="-1" description="The maximum size of the send queue before payloads are dumped from the queue." encrypted="False" />
    </internaldatapublisher>
    <externaldatapublisher>
      <add name="ConfigurationString" value="port=6166; interface=0.0.0.0" description="Data required by the server to initialize." encrypted="False" />
      <add name="MaxClientConnections" value="-1" description="Maximum number of clients that can connect to the server." encrypted="False" />
      <add name="SendBufferSize" value="8192" description="Size of the buffer used by the server for sending data to the clients." encrypted="False" />
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the server for receiving data from the clients." encrypted="False" />
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="False" />
      <add name="IntegratedSecurity" value="False" description="True if the client Windows account credentials are used for authentication, otherwise False." encrypted="False" />
      <add name="AllowDualStackSocket" value="False" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False." encrypted="False" />
      <add name="MaxSendQueueSize" value="-1" description="The maximum size of the send queue before payloads are dumped from the queue." encrypted="False" />
    </externaldatapublisher>
    <tlsdatapublisher>
      <add name="ConfigurationString" value="port=6167; interface=0.0.0.0" description="Data required by the server to initialize." encrypted="False" />
      <add name="MaxClientConnections" value="-1" description="Maximum number of clients that can connect to the server." encrypted="False" />
      <add name="SendBufferSize" value="8192" description="Size of the buffer used by the server for sending data to the clients." encrypted="False" />
      <add name="ReceiveBufferSize" value="8192" description="Size of the buffer used by the server for receiving data from the clients." encrypted="False" />
      <add name="EnabledSslProtocols" value="Default" description="The set of SSL protocols that are enabled for this server." encrypted="False" />
      <add name="RequireClientCertificate" value="True" description="True if the client certificate is required during authentication, otherwise False." encrypted="False" />
      <add name="CheckCertificateRevocation" value="True" description="True if the certificate revocation list is to be checked during authentication, otherwise False." encrypted="False" />
      <add name="CertificateFile" value="Eval(systemSettings.LocalCertificate)" description="Path to the local certificate used by this server for authentication." encrypted="False" />
      <add name="PayloadAware" value="True" description="True if payload boundaries are to be preserved during transmission, otherwise False." encrypted="False" />
      <add name="AllowDualStackSocket" value="False" description="True if dual-mode socket is allowed when IP address is IPv6, otherwise False." encrypted="False" />
      <add name="MaxSendQueueSize" value="-1" description="The maximum size of the send queue before payloads are dumped from the queue." encrypted="False" />
      <add name="TrustedCertificatesPath" value="Certs/Remotes" description="Not used by the TLS data publisher." encrypted="False" />
      <add name="ValidPolicyErrors" value="None" description="Not used by the TLS data publisher." encrypted="False" />
      <add name="ValidChainFlags" value="NoError" description="Not used by the TLS data publisher." encrypted="False" />
      <add name="IntegratedSecurity" value="False" description="True if the client Windows account credentials are used for authentication, otherwise False." encrypted="False" />
    </tlsdatapublisher>
    <statMetadataService>
      <add name="Endpoints" value="http.rest://localhost:6051/historian" description="Semicolon delimited list of URIs where the web service can be accessed - this defaults to http.rest://localhost:6051/historian for the statistics meta-data service." encrypted="False" />
      <add name="Contract" value="GSF.Historian.DataServices.IMetadataService, GSF.Historian" description="Assembly qualified name of the contract interface implemented by the web service." encrypted="False" />
      <add name="Singleton" value="True" description="True if the web service is singleton; otherwise False." encrypted="False" />
      <add name="SecurityPolicy" value="" description="Assembly qualified name of the authorization policy to be used for securing the web service." encrypted="False" />
      <add name="PublishMetadata" value="True" description="True if the web service metadata is to be published at all the endpoints; otherwise False." encrypted="False" />
      <add name="Enabled" value="True" description="Determines if web service should be enabled at startup." encrypted="false" />
    </statMetadataService>
    <statTimeSeriesDataService>
      <add name="Endpoints" value="http.rest://localhost:6052/historian" description="Semicolon delimited list of URIs where the web service can be accessed - this defaults to http.rest://localhost:6052/historian for the statistics time-series data service." encrypted="False" />
      <add name="Contract" value="GSF.Historian.DataServices.ITimeSeriesDataService, GSF.Historian" description="Assembly qualified name of the contract interface implemented by the web service." encrypted="False" />
      <add name="Singleton" value="True" description="True if the web service is singleton; otherwise False." encrypted="False" />
      <add name="SecurityPolicy" value="" description="Assembly qualified name of the authorization policy to be used for securing the web service." encrypted="False" />
      <add name="PublishMetadata" value="True" description="True if the web service metadata is to be published at all the endpoints; otherwise False." encrypted="False" />
      <add name="Enabled" value="True" description="Determines if web service should be enabled at startup." encrypted="false" />
    </statTimeSeriesDataService>
    <statMetadataFile>
      <add name="FileName" value="Statistics/stat_dbase.dat" description="Name of the statistics meta-data file including its path." encrypted="False" />
      <add name="FileAccessMode" value="ReadWrite" description="Access mode (Read; Write; ReadWrite) to be used when opening the file." encrypted="False" />
      <add name="AutoSaveInterval" value="-1" description="Interval in milliseconds at which the file records loaded in memory are to be saved automatically to disk. Use -1 to disable automatic saving." encrypted="False" />
      <add name="LoadOnOpen" value="True" description="True if file records are to be loaded in memory when opened; otherwise False - this defaults to True for the statistics meta-data file." encrypted="False" />
      <add name="SaveOnClose" value="False" description="True if file records loaded in memory are to be saved to disk when file is closed; otherwise False." encrypted="False" />
      <add name="ReloadOnModify" value="False" description="True if file records loaded in memory are to be re-loaded when file is modified on disk; otherwise False - this defaults to False for the statistics meta-data file." encrypted="False" />
    </statMetadataFile>
    <statStateFile>
      <add name="FileName" value="Statistics/stat_startup.dat" description="Name of the statistics state file including its path." encrypted="False" />
      <add name="FileAccessMode" value="ReadWrite" description="Access mode (Read; Write; ReadWrite) to be used when opening the file." encrypted="False" />
      <add name="AutoSaveInterval" value="10000" description="Interval in milliseconds at which the file records loaded in memory are to be saved automatically to disk. Use -1 to disable automatic saving - this defaults to 10,000 for the statistics state file." encrypted="False" />
      <add name="LoadOnOpen" value="True" description="True if file records are to be loaded in memory when opened; otherwise False - this defaults to True for the statistics state file." encrypted="False" />
      <add name="SaveOnClose" value="True" description="True if file records loaded in memory are to be saved to disk when file is closed; otherwise False - this defaults to True for the statistics state file." encrypted="False" />
      <add name="ReloadOnModify" value="False" description="True if file records loaded in memory are to be re-loaded when file is modified on disk; otherwise False - this defaults to False for the statistics state file." encrypted="False" />
    </statStateFile>
    <statIntercomFile>
      <add name="FileName" value="Statistics/scratch.dat" description="Name of the statistics intercom file including its path." encrypted="False" />
      <add name="FileAccessMode" value="ReadWrite" description="Access mode (Read; Write; ReadWrite) to be used when opening the file." encrypted="False" />
      <add name="AutoSaveInterval" value="1000" description="Interval in milliseconds at which the file records loaded in memory are to be saved automatically to disk. Use -1 to disable automatic saving - this defaults to 10,000 for the statistics intercom file." encrypted="False" />
      <add name="LoadOnOpen" value="True" description="True if file records are to be loaded in memory when opened; otherwise False - this defaults to True for the statistics intercom file." encrypted="False" />
      <add name="SaveOnClose" value="True" description="True if file records loaded in memory are to be saved to disk when file is closed; otherwise False - this defaults to True for the statistics intercom file." encrypted="False" />
      <add name="ReloadOnModify" value="False" description="True if file records loaded in memory are to be re-loaded when file is modified on disk; otherwise False - this defaults to False for the statistics intercom file." encrypted="False" />
    </statIntercomFile>
    <statArchiveFile>
      <add name="FileName" value="Statistics/stat_archive.d" description="Name of the statistics working archive file including its path." encrypted="False" />
      <add name="FileType" value="Active" description="Type (Active; Standby; Historic) of the file." encrypted="False" />
      <add name="FileSize" value="100" description="Size (in MB) of the file." encrypted="False" />
      <add name="DataBlockSize" value="8" description="Size (in KB) of the data blocks in the file." encrypted="False" />
      <add name="RolloverPreparationThreshold" value="75" description="Percentage file full when the rollover preparation should begin." encrypted="False" />
      <add name="ArchiveOffloadLocation" value="" description="Path to the location where historic files are to be moved when disk start getting full." encrypted="False" />
      <add name="ArchiveOffloadCount" value="5" description="Number of files that are to be moved to the offload location when the disk starts getting full." encrypted="False" />
      <add name="ArchiveOffloadThreshold" value="90" description="Percentage disk full when the historic files should be moved to the offload location." encrypted="False" />
      <add name="MaxHistoricArchiveFiles" value="-1" description="Maximum number of historic files to be kept at both the primary and offload locations combined." encrypted="False" />
      <add name="LeadTimeTolerance" value="15" description="Number of minutes by which incoming data points can be ahead of local system clock and still be considered valid." encrypted="False" />
      <add name="CompressData" value="False" description="True if compression is to be performed on the incoming data points; otherwise False." encrypted="False" />
      <add name="DiscardOutOfSequenceData" value="True" description="True if out-of-sequence data points are to be discarded; otherwise False." encrypted="False" />
      <add name="CacheWrites" value="True" description="True if writes are to be cached for performance; otherwise False - this defaults to True for the statistics working archive file." encrypted="False" />
      <add name="ConserveMemory" value="False" description="True if attempts are to be made to conserve memory; otherwise False - this defaults to False for the statistics working archive file." encrypted="False" />
      <add name="MonitorNewArchiveFiles" value="False" description="True to monitor and load newly encountered archive files; otherwise False." encrypted="False" />
    </statArchiveFile>
    <alarmservicesAlarmService>
      <add name="Endpoints" value="http.rest://localhost:5018/alarmservices" description="Semicolon delimited list of URIs where the web service can be accessed." encrypted="False" />
      <add name="Contract" value="DataQualityMonitoring.Services.IAlarmService, DataQualityMonitoring" description="Assembly qualified name of the contract interface implemented by the web service." encrypted="False" />
      <add name="Singleton" value="True" description="True if the web service is singleton; otherwise False." encrypted="False" />
      <add name="SecurityPolicy" value="" description="Assembly qualified name of the authorization policy to be used for securing the web service." encrypted="False" />
      <add name="PublishMetadata" value="False" description="True if the web service metadata is to be published at all the endpoints; otherwise False." encrypted="False" />
      <add name="Enabled" value="False" description="Determines if web service should be enabled at startup." encrypted="false" />
    </alarmservicesAlarmService>
    <errorLog>
      <add name="FileName" value="ErrorLog.txt" description="Name of the log file including its path." encrypted="False" />
      <add name="FileSize" value="3" description="Maximum size of the log file in MB." encrypted="False" />
      <add name="FileFullOperation" value="Truncate" description="Operation (Truncate; Rollover) that is to be performed on the file when it is full." encrypted="False" />
      <add name="LogFilesDuration" value="0" description="Time duration in hours to save the log files,files older than this duration are purged automatically" encrypted="False" />
      <add name="FlushTimerInterval" value="10" description="Number of seconds of inactivity before the log file automatically flushes the file stream." encrypted="False" />
    </errorLog>
    <errorLogger>
      <add name="LogToUI" value="False" description="True if an encountered exception is to be logged to the User Interface; otherwise False." encrypted="False" />
      <add name="LogToFile" value="True" description="True if an encountered exception is to be logged to a file; otherwise False." encrypted="False" />
      <add name="LogToEmail" value="False" description="True if an email is to be sent to ContactEmail with the details of an encountered exception; otherwise False." encrypted="False" />
      <add name="LogToEventLog" value="False" description="True if an encountered exception is to be logged to the Event Log; otherwise False." encrypted="False" />
      <add name="LogToDatabase" value="False" description="True if an encountered exception is logged to the database; otherwise False." encrypted="False" />
      <add name="DatabaseLogSize" value="2000" description="Maximum exception log size to maintain when logging exceptions to the database." encrypted="False" />
      <add name="LogUserInfo" value="False" description="True if user information is to be logged along with exception information; otherwise False." encrypted="False" />
      <add name="SmtpServer" value="" description="Name of the SMTP server to be used for sending the email messages." encrypted="False" />
      <add name="ContactName" value="" description="Name of the person that the end-user can contact when an exception is encountered." encrypted="False" />
      <add name="ContactEmail" value="" description="Comma-separated list of recipient email addresses for the email message." encrypted="False" />
      <add name="ContactPhone" value="" description="Phone number of the person that the end-user can contact when an exception is encountered." encrypted="False" />
      <add name="HandleUnhandledException" value="True" description="True if unhandled exceptions are to be handled automatically; otherwise False." encrypted="False" />
      <add name="ExitOnUnhandledException" value="False" description="True if the application must exit when an unhandled exception is encountered; otherwise False." encrypted="False" />
    </errorLogger>
    <processScheduler>
      <add name="HealthMonitor" value="* * * * *" description="Any Minute, Any Hour, Any Day, Any Month, Any DayOfWeek" encrypted="False" />
      <add name="StatusExport" value="*/30 * * * *" description="Every 30 Minute, Any Hour, Any Day, Any Month, Any DayOfWeek" encrypted="False" />
    </processScheduler>
    <statusLog>
      <add name="FileName" value="StatusLog.txt" description="Name of the log file including its path." encrypted="False" />
      <add name="FileSize" value="3" description="Maximum size of the log file in MB." encrypted="False" />
      <add name="FileFullOperation" value="Truncate" description="Operation (Truncate; Rollover) that is to be performed on the file when it is full." encrypted="False" />
      <add name="LogFilesDuration" value="0" description="Time duration in hours to save the log files,files older than this duration are purged automatically" encrypted="False" />
      <add name="FlushTimerInterval" value="10" description="Number of seconds of inactivity before the log file automatically flushes the file stream." encrypted="False" />
    </statusLog>
    <thresholdSettings>
      <add name="MeasurementWarningThreshold" value="100000" description="Number of unarchived measurements allowed in any output adapter queue before displaying a warning message" encrypted="False" />
      <add name="MeasurementDumpingThreshold" value="500000" description="Number of unarchived measurements allowed in any output adapter queue before taking evasive action and dumping data" encrypted="False" />
      <add name="DefaultSampleSizeWarningThreshold" value="10" description="Default number of unpublished samples (in seconds) allowed in any action adapter queue before displaying a warning message" encrypted="False" />
    </thresholdSettings>
    <exampleConnectionSettings>
      <add name="SqlServer.ConnectionString" value="Data Source=serverName; Initial Catalog=databaseName; User ID=userName; Password=password" description="Example SQL Server database connection string" encrypted="False" />
      <add name="SqlServer.DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.SqlClient.SqlConnection; AdapterType=System.Data.SqlClient.SqlDataAdapter" description="Example SQL Server database .NET provider string" encrypted="False" />
      <add name="MySQL.ConnectionString" value="Server=serverName;Database=databaseName; Uid=root; Pwd=password; allow user variables = true;" description="Example MySQL database connection string" encrypted="False" />
      <add name="MySQL.DataProviderString" value="AssemblyName={MySql.Data, Version=6.3.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d}; ConnectionType=MySql.Data.MySqlClient.MySqlConnection; AdapterType=MySql.Data.MySqlClient.MySqlDataAdapter" description="Example MySQL database .NET provider string" encrypted="False" />
      <add name="Oracle.ConnectionString" value="Data Source=tnsName; User ID=schemaUserName; Password=schemaPassword" description="Example Oracle database connection string" encrypted="False" />
      <add name="Oracle.DataProviderString" value="AssemblyName={Oracle.DataAccess, Version=2.112.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342}; ConnectionType=Oracle.DataAccess.Client.OracleConnection; AdapterType=Oracle.DataAccess.Client.OracleDataAdapter" description="Example Oracle database .NET provider string" encrypted="False" />
      <add name="SQLite.ConnectionString" value="Data Source=databaseName.db; Version=3; Foreign Keys=True; FailIfMissing=True" description="Example SQLite database connection string" encrypted="False" />
      <add name="SQLite.DataProviderString" value="AssemblyName={Mono.Data.Sqlite, Version=4.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756}; ConnectionType=Mono.Data.Sqlite.SqliteConnection; AdapterType=Mono.Data.Sqlite.SqliteDataAdapter" description="Example SQLite database .NET provider string" encrypted="False" />
      <add name="OleDB.ConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=databaseName.mdb" description="Example Microsoft Access (via OleDb) database connection string" encrypted="False" />
      <add name="OleDB.DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.OleDb.OleDbConnection; AdapterType=System.Data.OleDb.OleDbDataAdapter" description="Example OleDb database .NET provider string" encrypted="False" />
      <add name="Odbc.ConnectionString" value="Driver={SQL Server Native Client 10.0}; Server=serverName; Database=databaseName; Uid=userName; Pwd=password;" description="Example ODBC database connection string" encrypted="False" />
      <add name="Odbc.DataProviderString" value="AssemblyName={System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089}; ConnectionType=System.Data.Odbc.OdbcConnection; AdapterType=System.Data.Odbc.OdbcDataAdapter" description="Example ODBC database .NET provider string" encrypted="False" />
      <add name="WebService.ConnectionString" value="http://localhost/ConfigSource/SystemConfiguration.xml" description="Example web service connection string" encrypted="False" />
      <add name="XmlFile.ConnectionString" value="SystemConfiguration.xml" description="Example XML configuration file connection string" encrypted="False" />
    </exampleConnectionSettings>
    <completenessReporting>
      <add name="ArchiveFilePath" value="Eval(statArchiveFile.FileName)" description="Path to the archive file to which the statistics required for reporting are archived." encrypted="False" />
      <add name="ReportLocation" value="Reports" description="Directory to which reports will be written." encrypted="False" />
      <add name="Title" value="Eval(securityProvider.ApplicationName) Completeness Report" description="Title to be displayed on reports." encrypted="False" />
      <add name="Company" value="Eval(systemSettings.CompanyName)" description="Name of the company to be displayed on reports." encrypted="False" />
      <add name="Level4Threshold" value="99" description="Minimum percentage of measurements received from devices in level 4." encrypted="False" />
      <add name="Level3Threshold" value="90" description="Minimum percentage of measurements received from devices in level 3." encrypted="False" />
      <add name="Level4Alias" value="Good" description="Alias for the level 4 category." encrypted="False" />
      <add name="Level3Alias" value="Fair" description="Alias for the level 3 category." encrypted="False" />
      <add name="IdleReportLifetime" value="14" description="The minimum lifetime of a report since the last time it was accessed, in days." encrypted="False" />
    </completenessReporting>
    <healthExporter>
      <add name="ExportTimeout" value="-1" description="Total allowed time for each export to execute, in milliseconds. Set to -1 for no specific timeout." encrypted="False" />
      <add name="MaximumRetryAttempts" value="4" description="Maximum number of retries that will be attempted during an export if the export fails. Set to zero to only attempt export once." encrypted="False" />
      <add name="RetryDelayInterval" value="1000" description="Interval to wait, in milliseconds, before retrying an export if the export fails." encrypted="False" />
      <add name="ExportCount" value="1" description="Total number of export files to produce." encrypted="False" />
      <add name="ExportDestination1" value="./" description="Root path for export destination. Use UNC path (\\server\share) with no trailing slash for network shares." encrypted="False" />
      <add name="ExportDestination1.ConnectToShare" value="False" description="Set to True to attempt authentication to network share." encrypted="False" />
      <add name="ExportDestination1.Domain" value="" description="Domain used for authentication to network share (computer name for local accounts)." encrypted="False" />
      <add name="ExportDestination1.UserName" value="" description="User name used for authentication to network share." encrypted="False" />
      <add name="ExportDestination1.Password" value="" description="Encrypted password used for authentication to network share." encrypted="True" />
      <add name="ExportDestination1.FileName" value="Health.txt" description="Path and file name of data export (do not include drive letter or UNC share). Prefix with slash when using UNC paths (\path\filename.txt)." encrypted="False" />
    </healthExporter>
    <statusExporter>
      <add name="ExportTimeout" value="-1" description="Total allowed time for each export to execute, in milliseconds. Set to -1 for no specific timeout." encrypted="False" />
      <add name="MaximumRetryAttempts" value="4" description="Maximum number of retries that will be attempted during an export if the export fails. Set to zero to only attempt export once." encrypted="False" />
      <add name="RetryDelayInterval" value="1000" description="Interval to wait, in milliseconds, before retrying an export if the export fails." encrypted="False" />
      <add name="ExportCount" value="1" description="Total number of export files to produce." encrypted="False" />
      <add name="ExportDestination1" value="./" description="Root path for export destination. Use UNC path (\\server\share) with no trailing slash for network shares." encrypted="False" />
      <add name="ExportDestination1.ConnectToShare" value="False" description="Set to True to attempt authentication to network share." encrypted="False" />
      <add name="ExportDestination1.Domain" value="" description="Domain used for authentication to network share (computer name for local accounts)." encrypted="False" />
      <add name="ExportDestination1.UserName" value="" description="User name used for authentication to network share." encrypted="False" />
      <add name="ExportDestination1.Password" value="" description="Encrypted password used for authentication to network share." encrypted="True" />
      <add name="ExportDestination1.FileName" value="Status.txt" description="Path and file name of data export (do not include drive letter or UNC share). Prefix with slash when using UNC paths (\path\filename.txt)." encrypted="False" />
    </statusExporter>
  </categorizedSettings>
</configuration>
