load1 split Load model split 6.6.6.1 split sudo python3.4 ./models/load.py load1 6.0.0.31 7000 &
load2 split Load model split 6.6.6.2 split sudo python3.4 ./models/load.py load2 6.0.0.31 7000 &
load3 split Load model split 6.6.6.3 split sudo python3.4 ./models/load.py load3 6.0.0.31 7000 &
load4 split Load model split 6.6.6.4 split sudo python3.4 ./models/load.py load4 6.0.0.31 7000 &
gen split Generator model split 6.6.6.11 split sudo python3.4 ./models/gen.py gen 6.0.0.31 7000 &
es split Energy Storage model split 6.6.6.21 split sudo python3.4 ./models/energyStorage.py es 6.6.6.21 7000 &
cc split Control Center model split 6.6.6.31 split sudo python3.4 ./models/control_center.py cc 6.0.0.31 7000 6.6.6.21 7000 &